.company-content{
    display: flex; 
    align-items: center;
}

.company-content  img {
    width: 25%;
    position: absolute;
    margin-left: 3%;
  }
.company-icon{
    margin-right: 8px;
} 

.company-content span{
  color:darkblue;
} 